<div class="row-is-full content has-text-centered text-decoration-none">
  <p class="text-decoration-none">
    <strong><i class="fas fa-bullhorn fa-lg"></i> Potential Lost Sales </strong>
    by
    <a class="text-decoration-none" href="https://github.com/ElyCano">Elizabeth
      Cano</a>
    - | source code:
    <a class="text-decoration-none" href="https://github.com/ElyCano"><i
        class="fab fa-github"
      ></i></a>
  </p>
</div>